# URL de l'API Backend (Service Utilisateurs & Auth)
VITE_API_URL=http://localhost:5050/api

# URL de l'API Service Abonnements
VITE_ABONNEMENTS_API_URL=http://localhost:5065/api/abonnements

# URL de l'API Service Billetterie & Validation
VITE_BILLETTERIE_API_URL=http://localhost:5070/api/billetterie
